* {
    box-sizing: border-box;
}

body {
    margin: 0px !important;
    overflow-y: hidden;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

html {
    width: 100%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    background: #eeeeee;
    overflow-x: hidden;
}

h5 {
    font-size: 18px;
    line-height: 26px;
    margin: 0px;
}

a:link {
    color: #f3db36;
}

a:visited {
    color: #f3db36;
}

.header {
    background-color: #2659fe;
    color: #ffffff;
    width: auto;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
    background-color: #0099cc;
}

.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.footer {
    color: #000000;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    padding-top: 86px;
    margin-bottom: 55px;
    height: 128px;
    font-weight: 100;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {

    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

.align-center {
    display: flex;
    justify-content: center;
}


.logo {
    width: auto;
    height: 57px;
    margin: 37px 0px 0px 0px;
    display: flex;
    justify-content: center;
    background: #eee;
    cursor: pointer;
}

.mycontainer {
    background: url('../assets/test_png/vector-smart-object.png') no-repeat;
    background-size: 100% 612px;
    width: 100%;
    height: 612px;
}

.banner {
    padding-left: 119px;
    padding-right: 119px;
}

.banner-title {
    margin-top: 60px;
}

.banner-subtext {
    margin-top: 20px;
}

h1.h1-bold {
    text-transform: uppercase;
    font-size: 40px;
    color: #000000;
    font-weight: bolder;
    margin: 0px !important;
}

h1.h1-thin {
    text-transform: uppercase;
    font-size: 40px;
    color: #000;
    font-weight: 100;
    margin: 0px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

span.span-subtext {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}


.get-converter-btn {
    margin-top: 55px;
    width: 440px;
    height: 102px;
    background: #ec7420;
    border-radius: 5px;
    box-shadow: 1.8px 3.6px 3px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.get-converter-btn:hover{
    transform: scale(1.03);
    box-shadow: 1.8px 4px 10px 0.4px;
}




.get-converter-text {
    font-size: 35px;
    line-height: 38px;
    color: #fff;
    font-weight: bolder;
}

.get-converter-text::after {
    margin-left: 21px;
    content: url('../assets/test_png/shape-18.png');
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

p.policy-text {
    font-size: 12px;
    color: #2a2a2a;
    letter-spacing: normal;
}

span.policy-text-underline {
    text-decoration: underline;
    cursor: pointer;
}

.mac {
    margin-top: 60px;
    position: relative;
    top: 0;
    left: 0;
}

.mac-image {
    position: relative;
    top: 0;
    left: 0;
    box-shadow: 0px 150px 150px -145px;
}

.mac-screen {
    position: absolute;
    top: 0px;
    left: 52px;
}

.screen-unit-coverter {
    position: absolute;
    top: 157.2px;
    left: 209px;
}

.unit-scale {
    width: 100%;
}

.get-started {
    padding-top: 79px;
}


h1.how-to-get-started {
    font-size: 25px;
}



h4.step1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    width: 55px;
    height: 12px;
    color: #494949;
}

.step1-image {
    background: url('../assets/test_png/rectangle-16.png');
    width: 201px;
    height: 49px;
    /* margin-top: 22px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.step1-image-text {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    font-weight: bolder;
}

.step1-image-text::after {
    margin-left: 10px;
    content: url('../assets/test_png/shape-17.png');
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.click-get-converter {
    width: 177px;
    height: 13px;
    font-size: 16px;
    color: #494949;
    /* line-height: 26px; */
    font-weight: 400;
    text-align: center;
}


.arrow{
  margin-top: 75px;
}



.steps-2 {
    margin-left: 620px;
}

.step2-image {
    background: url('../assets/test_png/rectangle-16-copy.png');
    width: 201px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.step2-image-text {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    font-weight: bolder;
}

.step3-image {
    background: url('../assets/test_png/ellipse-1.png');
    width: 49px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.align-center-get-started {
    display: flex;
    justify-content: center;
    align-content: center;

}

.col-3-custom {
    width: 20%;
}

.description {
    margin-top: 184px;
    height: 462px;
}

.desc-para {
    font-size: 16px;
    margin-left: 151px;
    margin-right: 147px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 26px;
    color: #494949;
}

.rounded-rectangle-1 {
    background: url('../assets/test_png/rounded-rectangle-1.png');
    width: 205px;
    height: 58px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.rounded-rectangle-1::before {
    content: url('../assets/test_svg/shape-1.svg');
    margin-right: 18px;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.rounded-rectangle-2 {
    background: url('../assets/test_png/rounded-rectangle-1.png');
    width: 205px;
    height: 58px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.rounded-rectangle-2::before {
    content: url('../assets/test_svg/shape-2.svg');
    margin-right: 18px;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.rounded-rectangle-3 {
    background: url('../assets/test_png/rounded-rectangle-1.png');
    width: 205px;
    height: 58px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.rounded-rectangle-3::before {
    content: url('../assets/test_svg/shape-6.svg');
    margin-right: 18px;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.rounded-rectangle-4 {
    background: url('../assets/test_png/rounded-rectangle-1.png');
    width: 205px;
    height: 58px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.rounded-rectangle-4::before {
    content: url('../assets/test_svg/shape-7.svg');
    margin-right: 18px;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.rounded-rectangle-5 {
    background: url('../assets/test_png/rounded-rectangle-1.png');
    width: 205px;
    height: 58px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.rounded-rectangle-5::before {
    content: url('../assets/test_svg/shape-3.svg');
    margin-right: 18px;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.rounded-rectangle-6 {
    background: url('../assets/test_png/rounded-rectangle-1.png');
    width: 205px;
    height: 58px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.rounded-rectangle-6::before {
    content: url('../assets/test_svg/shape-4.svg');
    margin-right: 18px;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.rounded-rectangle-7 {
    background: url('../assets/test_png/rounded-rectangle-1.png');
    width: 205px;
    height: 58px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.rounded-rectangle-7::before {
    content: url('../assets/test_svg/shape-8.svg');
    margin-right: 18px;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.rounded-rectangle-8 {
    background: url('../assets/test_png/rounded-rectangle-1.png');
    width: 205px;
    height: 58px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.rounded-rectangle-8::before {
    content: url('../assets/test_svg/shape-9.svg');
    margin-right: 18px;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.rounded-rectangle-9 {
    background: url('../assets/test_png/rounded-rectangle-1.png');
    width: 205px;
    height: 58px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.rounded-rectangle-9::before {
    content: url('../assets/test_svg/shape-5.svg');
    margin-right: 18px;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.rounded-rectangle-10 {
    background: url('../assets/test_png/rounded-rectangle-1.png');
    width: 205px;
    height: 58px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.rounded-rectangle-10::before {
    content: url('../assets/test_svg/shape-10.svg');
    margin-right: 18px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.get-converter-button-single-1 {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 56px;
    transition: all 0.3s ease-in-out;
}




.get-converter-button-single-2 {
    width: 100%;
  margin-top: 56px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 56px;
}

.get-converter-button-single-3 {
  display: flex;
  justify-content: center;
  align-content: center;
}


.get-converter-button {
    background: url('../assets/test_png/rectangle-9.png') no-repeat;
    background-size: 446px 90px;
    width: 446px;
    height: 90px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.displayflexcenter-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.font500 {
    font-weight: 500;
}

.text-center {
    text-align: center;
}


.left-btm {
    position: relative;
    top: 0;
    left: 0;
}

.left-btm-main-1 {
    position: relative;
    top: 0;
    left: 0;
    box-shadow: 0px 150px 150px -145px;
}

.left-btm-scale-1 {
    position: absolute;
    top: 165px;
    right: 68px;
}

.get-converter-btn-no-shadow {
    margin-top: 55px;
    width: 446px;
    height: 90px;
    background: #ec7420;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.get-converter-btn-no-shadow:hover{
    transform: scale(1.02);
    box-shadow: 0px 5px 4px 2px;
}

.third-section-left-padding {
    padding-left: 120px;
    height: 350px;
}

.third-section-right-padding-1 {
    padding-right: 155px;
}

.third-section-right-padding-2 {
  padding-right: 155px;
}

.padding-top {
    padding-top: 80px;
}

.question {
    font-size: 22px;
    color: #000;
}

.question-answer {
    font-size: 16px;
    line-height: 26px;
    margin-top: 33px;
}

.third-section-left-padding-2 {
    padding-left: 120px;
    height: 300px;
    padding-top: 50px;
}




.right-btm {
    position: relative;
    top: 0;
    left: 0;
}

.right-btm-main-2 {
    position: absolute;
    top: 20px;
    left: 0px;
    box-shadow: 0px 150px 150px -145px;
}

.right-btm-scale-2 {
    position: relative;
    top: -35px;
    left: -55px;
}




/* last section */

.third-section-left-padding-3 {
    padding-left: 120px;
    height: 350px;
    padding-top: 50px;
}


.third-section-right-padding-3 {
    padding-right: 155px;
    padding-top: 120px;
}

.get-converter-btn-no-shadow-3 {
    margin-top: 100px;
    width: 446px;
    height: 90px;
    background: #ec7420;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in;
}


.get-converter-btn-no-shadow-3:hover{
    transform: scale(1.02);
    box-shadow: 0px 5px 4px 2px;
}



/* Snackbar */

#parent-div-snackbar{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


#snackbar-firefox {
    visibility: hidden;
    width: 350px;
    height: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 10%;
    top: 10%;
    font-size: 17px;
}



#snackbar-webkit {
    visibility: hidden;
    width: 350px;
    height: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 10%;
    top: 10%;
    font-size: 17px;
  }

  #snackbar-edge {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }

  #snackbar-unknown {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }


  #snackbar-firefox.showfirefox {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  #snackbar-webkit.showchrome {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }


  #snackbar-edge.showedge {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  #snackbar-edge.showunknown {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }


  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }

  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }


/* Media Queries */
@media only screen and (max-width:768px) {
    .header {
        background-color: #2659fe;
        color: #ffffff;
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h5 {
        font-size: 18px;
        line-height: 20px;
        margin: 0px;
    }

    /* banner text content */

    .banner {
        padding-left: 19px;
        padding-right: 19px;
    }

    .banner-title {
        margin-top: 60px;
    }

    .banner-subtext {
        margin-top: 20px;
    }


    h1.h1-bold {
        text-transform: uppercase;
        color: #000000;
        font-weight: bolder;
        margin: 0px !important;
        width: 100%;

    }

    h1.h1-thin {
        text-transform: uppercase;
        font-size: 40px;
        color: #000;
        font-weight: 100;
        margin: 0px !important;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }

    span.span-subtext {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.44;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
    }

    /* get-converter-button */

    .get-converter-btn {
      margin-top: 55px;
      width: 340px;
      height: 72px;
      background: #ec7420;
      border-radius: 5px;
      box-shadow: 1.8px 3.6px 3px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  }


  .get-converter-text {
      font-size: 35px;
      line-height: 38px;
      color: #fff;
      font-weight: bolder;
  }

  .get-converter-text::after {
      margin-left: 21px;
      content: url('../assets/test_png/shape-18.png');
      justify-content: center;
      align-items: center;
      vertical-align: middle;
  }

  /* banner */


  .mycontainer {
    background: url('../assets/test_png/vector-smart-object.png') no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

/* macbook */

  .mac-image {
    position: relative;
    width: 374px;
    top: 90px;
    left: -18px;
    box-shadow: 0px 150px 150px -145px;
}

.mac-screen {
  position: absolute;
  top: 95px;
  left: 17px;
  width: 326px;
  height: 218px;
}

.screen-unit-coverter {
  position: absolute;
  top: 183px;
  left: 110px;
  width: 150px;
}


/* the scale */


.unit-scale{
  object-fit: cover;
  width: 100%;
  height: 40px;
}


/* steps */

#steps_id{
  display: flex;
  flex-direction: column;
}


.displayflexcenter-column {
  display: flex;
  text-align: justify;
  align-content: center;
  align-items: center;
  width: auto;
  flex-direction: column;
}


.arrow{
    width: 100%;
  margin-top: 30px;
  transform: rotate(90deg);
}


/* how to get started */

.how-to-get-started{
  text-align: center;
}



.desc-para {
  font-size: 16px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 26px;
  color: #494949;
}


/* units rounded-rectangle */

.units {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 250px;
  margin-right: 250px;
  padding: 20px;
}


/* first-section */


.get-converter-button-single-1 {
  margin-top: 56px;
  display: flex;
  width: 80%;
  margin-left: 78px;
  justify-content: center;
  align-items: center;
  margin-bottom: 56px;
}


.third-section-left-padding {
  padding-left: 0px;
  height: 350px;
}

.third-section-left-padding-recipe {
    padding-left: 0px;
    height: 350px;
    padding-top: 86px;
  }


  /* second-section */

.left-btm-main-1 {
  position: relative;
  top: 8px;
  left: 5px;
  width: 250px;
  height: 150px;
}

.left-btm-scale-1 {
  position: absolute;
  top: 115px;
  right: 12px;
}


.third-section-right-padding-1 {
  padding-right: 10px;
}



/* third section */

.third-section-right-padding-2{
  padding-right: 15px;
}


.third-section-left-padding-2 {
    padding-left: 0px;
    padding-top: 50px;
    height: 350px;
}


.right-btm-main-2 {
    position: absolute;
    top: 20px;
    left: 35px;
    width: 80%;
    height: 100%;
    box-shadow: 0px 150px 150px -145px;
}



.right-btm-scale-2 {
    position: relative;
    top: -36px;
    left: -22px;
}


.get-converter-button-single-2 {
    margin-left: 78px;
    width: 80%;

}


/* last-section */

.third-section-left-padding-3 {
    padding-left: 0px;
    height: 350px;
}


.get-converter-button-single-3 {

    margin-left: 78px;
    width: 80%;
}

.get-converter-btn-no-shadow-3 {
    margin-top: 100px;
    width: 446px;
    height: 90px;
    background: #ec7420;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


/* footer */

.footer {
    color: #000000;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    padding-top: 86px;
    margin-bottom: 55px;
    height: 128px;
    font-weight: 100;
}



/* snackbar */
#snackbar {
    visibility: hidden;
    width: 350px;
    height: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 20%;
    top: 10%;
    font-size: 17px;
  }

}



@media only screen and (max-width: 420px) {

    h5 {
        font-size: 15px;
        line-height: 20px;
        margin: 0px;
    }

    h1.h1-bold {
        text-transform: uppercase;
        color: #000000;
        font-weight: bolder;
        margin: 0px !important;
        width: 100%;
        text-align: center;
    }

    h1.h1-thin {
        text-transform: uppercase;
        font-size: 40px;
        color: #000;
        font-weight: 100;
        margin: 0px !important;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center
    }

    span.span-subtext {
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.44;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
    }

    .get-converter-btn{
        width: 305px;
        margin: 20px;
    }

    .get-converter-text {
        font-size: 30px;
        line-height: 38px;
        color: #fff;
        font-weight: bolder;
    }

    p.policy-text {
        font-size: 12px;
        color: #2a2a2a;
        letter-spacing: normal;
        margin: 20px;
    }

    .mac-image{
        top: -22px;
        left: -15px;
    }
    .mac-screen{
        top: -15px;
        left: 20px;
    }


    .screen-unit-coverter {
        position: absolute;
        top: 70px;
        left: 110px;
        width: 150px;
    }


    .units {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 70px;
        margin-right: 100px;
    }




    .get-converter-button-single-1 {
        margin-top: 56px;
        display: flex;
        width: 80%;
        margin-left: 40px;
        justify-content: center;
        align-items: center;
        margin-bottom: 56px;
    }

    .right-btm-scale-2 {
        position: relative;
        top: -36px;
        left: 2px;
    }

    .right-btm-main-2 {
        position: absolute;
        top: 19px;
        left: 57px;
        width: 80%;
        height: 100%;
        box-shadow: 0px 150px 150px -145px;
    }

    .get-converter-button-single-2 {
        margin-left: 40px;
        width: 80%;
    }


    .get-converter-btn-no-shadow {
        margin-top: 55px;
        width: 446px;
        height: 68px;
        background: #ec7420;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }




.get-converter-btn-no-shadow-3 {
    margin-top: 100px;
    width: 446px;
    height: 68px;
    background: #ec7420;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



    .left-btm-main-1{
        width: 89%;
        left: 0px;
    }

    .get-converter-button-single-3 {
        margin-left: 40px;
        width: 80%;
    }


    .footer {
        color: #000000;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 10px;
        padding-top: 86px;
        margin-bottom: 55px;
        height: 128px;
        font-weight: 100;
    }
}

@media only screen and (max-width:320px){

    .logo-img {
        width: 70%;
    }


    h5 {
        font-size: 12px;
        line-height: 20px;
        margin: 0px;
    }

    h1.h1-bold {
        text-transform: uppercase;
        color: #000000;
        font-weight: bolder;
        font-size: 30px;
        margin: 0px !important;
        width: 100%;
        text-align: center;
    }

    h1.h1-thin {
        text-transform: uppercase;
        font-size: 30px;
        color: #000;
        font-weight: 100;
        margin: 0px !important;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center
    }

    span.span-subtext {
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.44;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
    }

    .get-converter-btn{
        width: 250px;
        height: 60px;
        margin-top: 20px;
        margin-left: 0px;
    }

    .get-converter-text {
        font-size: 25px;
        line-height: 38px;
        color: #fff;
        font-weight: bolder;
    }

    .get-converter-text::after {
        margin-left: 21px;
        content: url('../assets/test_png/shape-18.png');
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }

    p.policy-text {
        font-size: 12px;
        color: #2a2a2a;
        letter-spacing: normal;
        margin: 20px;
    }

    .mac-image {
        top: -50px;
        left: 8px;
        width: 90%;
    }
    .mac-screen {
        top: -40px;
        left: 35px;
        width: 70%;
        height: 84%;
    }


    .screen-unit-coverter {
        position: absolute;
        top: 14px;
        left: 87px;
        width: 100px;
    }

    h1.how-to-get-started {
        font-size: 16px;
    }

    p{
        font-size: 12px;
    }



    .units {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 15px;
        margin-right: 100px;
        padding: 20px;
    }




    .get-converter-button-single-1 {
        margin-top: 0px;
        display: flex;
        width: 70%;
        height: 40px;
        padding: 10px;
        margin-left: 40px;
        justify-content: center;
        align-items: center;
        margin-bottom: 56px;
    }

    .get-converter-text {
        font-size: 18px;
        line-height: 38px;
        color: #fff;
        font-weight: bolder;
    }

    .get-converter-btn-no-shadow {
        margin-top: 55px;
        width: 410px;
        height: 55px;
        background: #ec7420;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }


    .get-converter-btn-no-shadow-3 {
        margin-top: 70px;
        width: 424px;
        height: 60px;
        background: #ec7420;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .right-btm-scale-2 {
        position: relative;
        top: -36px;
        left: 2px;
    }

    .right-btm-main-2 {
        position: absolute;
        top: 19px;
        left: 57px;
        width: 80%;
        height: 100%;
        box-shadow: 0px 150px 150px -145px;
    }

    .get-converter-button-single-2 {
        margin-left: 40px;
        width: 80%;
    }


    .get-converter-btn-no-shadow {
        margin-top: 55px;
        width: 446px;
        height: 55px;
        background: #ec7420;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }




.get-converter-btn-no-shadow-3 {
    margin-top: 100px;
    width: 446px;
    height: 68px;
    background: #ec7420;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



    .left-btm-main-1{
        width: 89%;
        left: 0px;
    }

    .get-converter-button-single-3 {
        margin-left: 40px;
        width: 80%;
    }


    .footer {
        color: #000000;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 10px;
        padding-top: 86px;
        margin-bottom: 55px;
        height: 128px;
        font-weight: 100;
    }
}

@media only screen
    and (device-width : 375px)
    and (device-height : 812px)
    and (-webkit-device-pixel-ratio : 3) {

        .logo-img {
            width: 70%;
        }


        h5 {
            font-size: 12px;
            line-height: 20px;
            margin: 0px;
        }

        h1.h1-bold {
            text-transform: uppercase;
            color: #000000;
            font-weight: bolder;
            font-size: 30px;
            margin: 0px !important;
            width: 100%;
            text-align: center;
        }

        h1.h1-thin {
            text-transform: uppercase;
            font-size: 30px;
            color: #000;
            font-weight: 100;
            margin: 0px !important;
            margin-top: 5px;
            margin-bottom: 5px;
            text-align: center
        }

        span.span-subtext {
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.44;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
        }

        .get-converter-btn{
            width: 250px;
            height: 60px;
            margin-top: 20px;
            margin-left: 20px;
        }

        .get-converter-text {
            font-size: 25px;
            line-height: 38px;
            color: #fff;
            font-weight: bolder;
        }

        .get-converter-text::after {
            margin-left: 21px;
            content: url('../assets/test_png/shape-18.png');
            justify-content: center;
            align-items: center;
            vertical-align: middle;
        }

        p.policy-text {
            font-size: 12px;
            color: #2a2a2a;
            letter-spacing: normal;
            margin: 20px;
        }

        .mac-image {
            top: -50px;
            left: 8px;
            width: 90%;
        }
        .mac-screen {
            top: -40px;
            left: 41px;
            width: 70%;
            height: 87%;
        }


        .screen-unit-coverter {
            position: absolute;
            top: 20px;
            left: 107px;
            width: 100px;
        }

        h1.how-to-get-started {
            font-size: 16px;
        }

        p{
            font-size: 12px;
        }



        .units {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: 15px;
            margin-right: 15px;
            padding-left: 50px;
            padding-right: 50px;
        }




        .get-converter-button-single-1 {
            margin-top: 0px;
            display: flex;
            width: 70%;
            height: 40px;
            padding: 10px;
            margin-left: 60px;
            justify-content: center;
            align-items: center;
            margin-bottom: 56px;
        }

        .get-converter-text {
            font-size: 18px;
            line-height: 38px;
            color: #fff;
            font-weight: bolder;
        }

        .get-converter-btn-no-shadow {
            margin-top: 55px;
            width: 410px;
            height: 55px;
            background: #ec7420;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }


        .get-converter-btn-no-shadow-3 {
            margin-top: 70px;
            width: 424px;
            height: 55px;
            background: #ec7420;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .right-btm-scale-2 {
            position: relative;
            top: -36px;
            left: 2px;
        }

        .right-btm-main-2 {
            position: absolute;
            top: 19px;
            left: 57px;
            width: 80%;
            height: 100%;
            box-shadow: 0px 150px 150px -145px;
        }

        .get-converter-button-single-2 {
            margin-left: 40px;
            width: 80%;
        }


        .get-converter-btn-no-shadow {
            margin-top: 55px;
            width: 446px;
            height: 55px;
            background: #ec7420;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }




    .get-converter-btn-no-shadow-3 {
        margin-top: 100px;
        width: 446px;
        height: 68px;
        background: #ec7420;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }



        .left-btm-main-1{
            width: 89%;
            left: 0px;
        }

        .get-converter-button-single-3 {
            margin-left: 40px;
            width: 80%;
        }


        .footer {
            color: #000000;
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: 10px;
            padding-top: 86px;
            margin-bottom: 55px;
            height: 128px;
            font-weight: 100;
        }

}



@media only screen
    and (device-width : 375px)
    and (device-height : 667px)
    and (-webkit-device-pixel-ratio : 2) {

        .logo-img {
            width: 70%;
        }


        h5 {
            font-size: 12px;
            line-height: 20px;
            margin: 0px;
        }

        h1.h1-bold {
            text-transform: uppercase;
            color: #000000;
            font-weight: bolder;
            font-size: 30px;
            margin: 0px !important;
            width: 100%;
            text-align: center;
        }

        h1.h1-thin {
            text-transform: uppercase;
            font-size: 30px;
            color: #000;
            font-weight: 100;
            margin: 0px !important;
            margin-top: 5px;
            margin-bottom: 5px;
            text-align: center
        }

        span.span-subtext {
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.44;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
        }

        .get-converter-btn{
            width: 250px;
            height: 60px;
            margin-top: 20px;
            margin-left: 20px;
        }

        .get-converter-text {
            font-size: 25px;
            line-height: 38px;
            color: #fff;
            font-weight: bolder;
        }

        .get-converter-text::after {
            margin-left: 21px;
            content: url('../assets/test_png/shape-18.png');
            justify-content: center;
            align-items: center;
            vertical-align: middle;
        }

        p.policy-text {
            font-size: 12px;
            color: #2a2a2a;
            letter-spacing: normal;
            margin: 20px;
        }

        .mac-image {
            top: -50px;
            left: 8px;
            width: 90%;
        }
        .mac-screen {
            top: -40px;
            left: 35px;
            width: 70%;
            height: 84%;
        }


        .screen-unit-coverter {
            position: absolute;
            top: 20px;
            left: 107px;
            width: 100px;
        }

        h1.how-to-get-started {
            font-size: 16px;
        }

        p{
            font-size: 12px;
        }



        .units {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: 15px;
            margin-right: 15px;
            padding-left: 50px;
            padding-right: 50px;
        }




        .get-converter-button-single-1 {
            margin-top: 0px;
            display: flex;
            width: 70%;
            height: 40px;
            padding: 10px;
            margin-left: 60px;
            justify-content: center;
            align-items: center;
            margin-bottom: 56px;
        }

        .get-converter-text {
            font-size: 18px;
            line-height: 38px;
            color: #fff;
            font-weight: bolder;
        }

        .get-converter-btn-no-shadow {
            margin-top: 55px;
            width: 410px;
            height: 55px;
            background: #ec7420;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }


        .get-converter-btn-no-shadow-3 {
            margin-top: 70px;
            width: 424px;
            height: 55px;
            background: #ec7420;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .right-btm-scale-2 {
            position: relative;
            top: -36px;
            left: 2px;
        }

        .right-btm-main-2 {
            position: absolute;
            top: 19px;
            left: 57px;
            width: 80%;
            height: 100%;
            box-shadow: 0px 150px 150px -145px;
        }

        .get-converter-button-single-2 {
            margin-left: 50px;
            width: 250px;
        }


        .get-converter-btn-no-shadow {
            margin-top: 55px;
            width: 446px;
            height: 55px;
            background: #ec7420;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }




        .get-converter-btn-no-shadow-3 {
            margin-top: 100px;
            width: 410px;
            height: 55px;
            background: #ec7420;
            border-radius: 5px;
            display: flex;
            margin-left: 10px;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }



        .left-btm-main-1{
            width: 89%;
            left: 0px;
        }

        .get-converter-button-single-3 {
            margin-left: 40px;
            width: 80%;
        }


        .footer {
            color: #000000;
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: 10px;
            padding-top: 86px;
            margin-bottom: 55px;
            height: 128px;
            font-weight: 100;
        }

}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3){
    .logo-img {
        width: 70%;
    }


    h5 {
        font-size: 12px;
        line-height: 20px;
        margin: 0px;
    }

    h1.h1-bold {
        text-transform: uppercase;
        color: #000000;
        font-weight: bolder;
        font-size: 30px;
        margin: 0px !important;
        width: 100%;
        text-align: center;
    }

    h1.h1-thin {
        text-transform: uppercase;
        font-size: 30px;
        color: #000;
        font-weight: 100;
        margin: 0px !important;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center
    }

    span.span-subtext {
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.44;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
    }

    .get-converter-btn{
        width: 250px;
        height: 60px;
        margin-top: 20px;
        margin-left: 20px;
    }

    .get-converter-text {
        font-size: 25px;
        line-height: 38px;
        color: #fff;
        font-weight: bolder;
    }

    .get-converter-text::after {
        margin-left: 21px;
        content: url('../assets/test_png/shape-18.png');
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }

    p.policy-text {
        font-size: 12px;
        color: #2a2a2a;
        letter-spacing: normal;
        margin: 20px;
    }

    .mac-image {
        top: -50px;
        left: 8px;
        width: 90%;
    }
    .mac-screen {
        top: -40px;
        left: 35px;
        width: 70%;
        height: 84%;
    }


    .screen-unit-coverter {
        position: absolute;
        top: 20px;
        left: 107px;
        width: 100px;
    }

    h1.how-to-get-started {
        font-size: 16px;
    }

    p{
        font-size: 12px;
    }



    .units {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 15px;
        margin-right: 15px;
        padding-left: 50px;
        padding-right: 50px;
    }




    .get-converter-button-single-1 {
        margin-top: 0px;
        display: flex;
        width: 70%;
        height: 40px;
        padding: 10px;
        margin-left: 60px;
        justify-content: center;
        align-items: center;
        margin-bottom: 56px;
    }

    .get-converter-text {
        font-size: 18px;
        line-height: 38px;
        color: #fff;
        font-weight: bolder;
    }

    .get-converter-btn-no-shadow {
        margin-top: 55px;
        width: 410px;
        height: 55px;
        background: #ec7420;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }


    .get-converter-btn-no-shadow-3 {
        margin-top: 70px;
        width: 424px;
        height: 55px;
        background: #ec7420;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .right-btm-scale-2 {
        position: relative;
        top: -36px;
        left: 2px;
    }

    .right-btm-main-2 {
        position: absolute;
        top: 19px;
        left: 57px;
        width: 80%;
        height: 100%;
        box-shadow: 0px 150px 150px -145px;
    }

    .get-converter-button-single-2 {
        margin-left: 50px;
        width: 250px;
    }


    .get-converter-btn-no-shadow {
        margin-top: 55px;
        width: 446px;
        height: 55px;
        background: #ec7420;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }




    .get-converter-btn-no-shadow-3 {
        margin-top: 100px;
        width: 410px;
        height: 55px;
        background: #ec7420;
        border-radius: 5px;
        display: flex;
        margin-left: 10px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }



    .left-btm-main-1{
        width: 89%;
        left: 0px;
    }

    .get-converter-button-single-3 {
        margin-left: 40px;
        width: 80%;
    }


    .footer {
        color: #000000;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 10px;
        padding-top: 86px;
        margin-bottom: 55px;
        height: 128px;
        font-weight: 100;
    }
}


@media only screen
  and (min-width: 1024px)
  and (max-height: 1366px)
  and (-webkit-min-device-pixel-ratio: 1.5) {

    .header {
        background-color: #2659fe;
        color: #ffffff;
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h5 {
        font-size: 18px;
        line-height: 20px;
        margin: 0px;
    }

    /* banner text content */

    .banner {
        padding-left: 19px;
        padding-right: 19px;
    }

    .banner-title {
        margin-top: 60px;
    }

    .banner-subtext {
        margin-top: 20px;
    }


    h1.h1-bold {
        text-transform: uppercase;
        color: #000000;
        font-weight: bolder;
        margin: 0px !important;
        width: 100%;

    }

    h1.h1-thin {
        text-transform: uppercase;
        font-size: 40px;
        color: #000;
        font-weight: 100;
        margin: 0px !important;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }

    span.span-subtext {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.44;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
    }

    /* get-converter-button */

    .get-converter-btn {
      margin-top: 55px;
      width: 340px;
      height: 72px;
      background: #ec7420;
      border-radius: 5px;
      box-shadow: 1.8px 3.6px 3px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  }


  .get-converter-text {
      font-size: 35px;
      line-height: 38px;
      color: #fff;
      font-weight: bolder;
  }

  .get-converter-text::after {
      margin-left: 21px;
      content: url('../assets/test_png/shape-18.png');
      justify-content: center;
      align-items: center;
      vertical-align: middle;
  }

  /* banner */


  .mycontainer {
    background: url('../assets/test_png/vector-smart-object.png') no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

/* macbook */

  .mac-image {
    position: relative;
    width: 374px;
    top: 90px;
    left: -18px;
    box-shadow: 0px 150px 150px -145px;
}

.mac-screen {
  position: absolute;
  top: 95px;
  left: 17px;
  width: 326px;
  height: 218px;
}

.screen-unit-coverter {
  position: absolute;
  top: 183px;
  left: 110px;
  width: 150px;
}


/* the scale */


.unit-scale{
  object-fit: cover;
  width: 100%;
  height: 40px;
}


/* steps */

#steps_id{
  display: flex;
  flex-direction: column;
}


.displayflexcenter-column {
  display: flex;
  text-align: justify;
  align-content: center;
  align-items: center;
  width: auto;
  flex-direction: column;
}


.arrow{
    width: 100%;
  margin-top: 30px;
  transform: rotate(90deg);
}


/* how to get started */

.how-to-get-started{
  text-align: center;
}



.desc-para {
  font-size: 16px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 26px;
  color: #494949;
}


/* units rounded-rectangle */

.units {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 250px;
  margin-right: 250px;
  padding: 20px;
}


/* first-section */


.get-converter-button-single-1 {
  margin-top: 56px;
  display: flex;
  width: 80%;
  margin-left: 78px;
  justify-content: center;
  align-items: center;
  margin-bottom: 56px;
}


.third-section-left-padding {
  padding-left: 0px;
  height: 350px;
}

.third-section-left-padding-recipe {
    padding-left: 0px;
    height: 350px;
    padding-top: 86px;
  }


  /* second-section */

.left-btm-main-1 {
  position: relative;
  top: 8px;
  left: 5px;
  width: 250px;
  height: 150px;
}

.left-btm-scale-1 {
  position: absolute;
  top: 115px;
  right: 12px;
}


.third-section-right-padding-1 {
  padding-right: 10px;
}



/* third section */

.third-section-right-padding-2{
  padding-right: 15px;
}


.third-section-left-padding-2 {
    padding-left: 0px;
    padding-top: 50px;
    height: 350px;
}


.right-btm-main-2 {
    position: absolute;
    top: 20px;
    left: 35px;
    width: 80%;
    height: 100%;
    box-shadow: 0px 150px 150px -145px;
}



.right-btm-scale-2 {
    position: relative;
    top: -36px;
    left: -22px;
}


.get-converter-button-single-2 {
    margin-left: 78px;
    width: 80%;

}


/* last-section */

.third-section-left-padding-3 {
    padding-left: 0px;
    height: 350px;
}


.get-converter-button-single-3 {

    margin-left: 78px;
    width: 80%;
}

.get-converter-btn-no-shadow-3 {
    margin-top: 100px;
    width: 446px;
    height: 90px;
    background: #ec7420;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


/* footer */

.footer {
    color: #000000;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    padding-top: 86px;
    margin-bottom: 55px;
    height: 128px;
    font-weight: 100;
}



/* snackbar */
#snackbar {
    visibility: hidden;
    width: 350px;
    height: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 20%;
    top: 10%;
    font-size: 17px;
  }

}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .banner {
        padding-left: 80px;
        padding-right: 80px;
    }

    h1.h1-bold {
        font-size: 29px;
    }

    h1.h1-thin {
        font-size: 35px;
    }

    span.span-subtext {
        font-size: 13px;
    }

    .get-converter-btn {
        width: 326px;
        height: 75px;
    }

    .get-converter-text {
        font-size: 30px;
    }

    p.policy-text {
        font-size: 9px;
    }

    .mac-image {
        top: -9px;
    }

    .mac-screen {
        top: -6px;
    }

    .screen-unit-coverter {
        top: 82px;
    }

    .mycontainer {
        height: 500px;
    }

    .left-btm-main-1 {
        top: 42px;
    }

    .third-section-right-padding-1 {
        padding-right: 80px;
    }

    .left-btm-scale-1 {
        right: 7px;
        top: 159px;
    }

    .question {
        font-size: 20px;
    }

    .right-btm-main-2 {
        top: 50px;
        left:0px;
    }

    .right-btm-scale-2 {
        top: 0px;
        left: -52px;
    }

}

@media only screen and (max-width:1366px) and (min-width:768px){
    .left-btm-scale-1{
        position: absolute;
        top: 165px;
        right: 0px;
    }
}
